.app {
  display: flex;
  justify-content: center;
}

.country-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.country-card {
  border: 2px solid black;
  border-radius: 20px;
  padding: 15px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.country-card p {
  font-size: 0.9rem;
}

.country-card:hover {
  background-color: blue;
  color: aliceblue;
  cursor: pointer;
}


.flag-image {
  max-width: 100px;
}

.country-infos {
  margin-top: 20px;
}